<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.toforeground" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>To Foreground</name>
    <description>Allows the app to bring itself to the foreground when it was running in the background</description>
    <author>Morgan Redshaw</author>
    <license>Apache 2.0</license>
    <keywords>android,background,to foreground</keywords>
    <repo>https://github.com/jaraxasoftware/cordova-toforeground.git</repo>
    <js-module name="ToForeground" src="www/ToForeground.js">
        <clobbers target="cordova.plugins.toForeground" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ToForeground">
                 <param name="android-package" value="com.jaraxasoftware.toforeground.ToForeground" />
            </feature>
        </config-file>

        <source-file src="src/ToForeground.java" target-dir="src/com/jaraxasoftware/toforeground" />
    </platform>
</plugin>
